html, body
{
	margin: 0;
	height: 100%;
	width: 100%;
	background-color: #CCCCCC;
	display: flex;
}
#tilesheet
{
	color: black;
}
#controls
{
	display: none;
	background-color: aqua;
	height: 100%;
	color: red;
}